@{
    ViewBag.Title = "About";
}
<h2><strong>@ViewBag.Title.</strong></h2>
<h3>@ViewBag.Message</h3>

<p>
    The File Management System (FMS) is a custom built web application designed specifically
    for the tracking and managing of physical files currently residing at the Development Finance Corporation (DFC).
    It was designed for the purpose of centralizing files and improving accountability within entities with respect 
    to file movements between General Affairs (Registry), relevant departments (users within a specific group) and different branches. 
</p>
<p>
    The behaviour of this application is made simple for users to understand and undergo basic file operations such as check ins, check outs, file registration, 
    editing and such. The ultimate aim, is to achieve an effective and efficient process of file handling that seeks
    to eliminate the setbacks and inconsistencies dwelling on the existing LADS file system. 
</p>
   

