@{
    ViewBag.Title = "About";
}
<h2><strong>@ViewBag.Title.</strong></h2>
<h3>@ViewBag.Message</h3>

<p>Tracks physical file transfers, giving as much detail as possible of files during the process at certain points.</p>
