
@{
    ViewBag.Title = "ContentArea";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header"><strong>Content Area Header</strong></h2>
    </div>
    <!-- /.col-lg-12 -->
</div>


<div class="row" style="height: 100vh">   
        <p>Content Body</p>
</div>
