@{
    ViewBag.Title = "Contact";
}
<h2><strong>@ViewBag.Title.</strong></h2>
<h3>@ViewBag.Message</h3>

<address>
    DFC<br />
    Belmopan, Cayo<br />
    <abbr title="Phone">Phone:</abbr>
    501-822-2360
</address>

<address>
    <strong>Support:</strong>   <a href="#">Support@example.com</a><br />
</address>