@model FileTracking.Models.AdUser
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
   
    <!-- Author Meta -->
    <meta name="author" content="Colorlib">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>Welcome</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,300,500" rel="stylesheet">
    <!--
    CSS
    ============================================= -->
    <link rel="stylesheet" href="/WelcomePage/css/linearicons.css">
    <link rel="stylesheet" href="/WelcomePage/css/owl.carousel.css">
    <link rel="stylesheet" href="/WelcomePage/css/font-awesome.min.css">
    <link rel="stylesheet" href="/WelcomePage/css/nice-select.css">
    <link rel="stylesheet" href="/WelcomePage/css/magnific-popup.css">
    <link rel="stylesheet" href="/WelcomePage/css/bootstrap.css">
    <link rel="stylesheet" href="/WelcomePage/css/main.css">
</head>
<body>
    <div class="oz-body-wrap">
        <!-- Start Header Area -->
        <header class="default-header">
            <div class="container-fluid">
                <div class="header-wrap">
                    <div class="header-top d-flex justify-content-between align-items-center">
                        <div class="logo">
                            <a href="https://www.dfcbelize.org/"><img src="/WelcomePage/img/logo.png" alt=""></a>
                        </div>

                    </div>
                </div>
            </div>
        </header>
        <!-- End Header Area -->
        <!-- Start Banner Area -->
        <section class="banner-area relative">
            <div class="container">
                <div class="row fullscreen align-items-center justify-content-center">
                    <div class="banner-left col-lg-6">
                        <img class="d-flex mx-auto img-fluid" src="/WelcomePage/img/FileTrack.png" height="450" width="350" alt="a file track logo">
                    </div>
                    <div class="col-lg-6">
                        <div class="story-content">
                            <h6 class="text-uppercase" style="color:#214674"><strong>NOTE:</strong> Only those authorized under the DFC domain are able to proceed</h6><br/>
                            <h3>
                                Welcome <span class="sp-2">@Model.Name</span><br>
                                Registered under <span class="sp-1" style="color:#eb862f">@Model.Role</span><br>
                                Branch<span class="sp-1" style="color:#214674"> @Model.Branches.Branch</span><br></br>
                            </h3>
                            <a href="@Url.Action("Index","Files")" class="genric-btn primary circle arrow">Enter Application<span class="lnr lnr-arrow-right"></span></a>
                            <a href="javascript:window.open('','_self').close();" class="genric-btn danger circle">Exit Application<span class="lnr lnr-arrow-right"></span></a>
                           
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Banner Area -->
    </div>

    <script src="/WelcomePage/js/vendor/jquery-2.2.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="/WelcomePage/js/vendor/bootstrap.min.js"></script>
    <script src="/WelcomePage/js/jquery.ajaxchimp.min.js"></script>
    <script src="/WelcomePage/js/owl.carousel.min.js"></script>
    <script src="/WelcomePage/js/jquery.nice-select.min.js"></script>
    <script src="/WelcomePage/js/jquery.magnific-popup.min.js"></script>
    <script src="/WelcomePage/js/jquery.counterup.min.js"></script>
    <script src="/WelcomePage/js/waypoints.min.js"></script>
<script src="/WelcomePage/js/main.js"></script>

</body>
</html>
