body {
	padding-top: 50px;
	padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
	padding-left: 15px;
	padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
	white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
	max-width: 280px;
}

.field-validation-error, .validation-summary-errors {
	color: red;
}
.input-validation-error {
	border: 1px solid greenyellow;
}
thead {
	background-color: #3F433E;
	color: white;
}
#searchTable thead {
	background-color: #f3efef;
	color: #1EA430;
}
#dfcNav {
	background-color: #2C3B6B;
	border-color: #928e8b;
}
.invalidStateMssg {
	color: red;
}
.inputSearch {
	color: #39384e;
	background-color: white;
}
/* Scroll to top button design*/
#regScrollToTop {
	display: inline-block;
	background-color: #FF9800;
	width: 50px;
	height: 50px;
	text-align: center;
	border-radius: 4px;
	position: fixed;
	bottom: 20px;
	right: 15px;
	transition: background-color .3s, 
				opacity .5s, visibility .5s;
	opacity: 0;
	visibility: hidden;
	z-index: 1000;
}
	#regScrollToTop::after {
		content: "\f077";
		font-family: FontAwesome;
		font-weight: normal;
		font-style: normal;
		font-size: 2em;
		line-height: 50px;
		color: #fff;
	}
#regScrollToTop:hover {
	cursor: pointer;
	background-color: #333;
}
	#regScrollToTop:active {
		background-color: #555;
	}
	#regScrollToTop.show {
		opacity: 1;
		visibility: visible;
	}
