
@{
    ViewBag.Title = "AlreadyRequested";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="https://fonts.googleapis.com/css?family=Cabin:400,700" rel="stylesheet">

<!-- Custom stlylesheet -->

<h2>Already Requested</h2>
<div class="row">
    <div id="notfound">
        <div class="notfound">
            <div class="notfound-404">
                <div></div>
                <h1>404</h1>
            </div>
            <h2>Page not necessarily found but..</h2>
            <p>Cannot request same file volume more than one than once. Please await an approval from registry</p>
            <p>The page you are looking for might have been removed had its name changed or is temporarily unavailable.</p>
            <a href="@Url.Action("Index","Files")">home page</a>
        </div>
    </div>
   
</div>

