@{
    ViewBag.Title = "ConfirmCheckout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
<div class="col-lg-12">
    <h2 class="page-header">Approve File</h2>
</div>
<!-- /.col-lg-12 -->
</div>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css">
<div class="row">
    <p>File has been accepted by registry and requires you to confirm physical retrieval to end the checkout process.
        Kindly approve from the table below</p>
 
    
        <table id="confirmTable" class="table table-hover">
            <thead>
            <tr>
                <th>File Number</th>
                <th>Volume</th>
                <th>Accepted By</th>
                <th>Accepted Date</th>
                <th><span class="glyphicon glyphicon-hand-down" style="color: aliceblue">Action</span></th>
            </tr>
            </thead>
            <tbody>
           
            </tbody>
        </table>
        <div class="modal fade" id="confirmCheckoutModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="true">
            <div class="modal-dialog">
                <div class="modal-content" id="confirmModelContent">
                </div>
            </div>
        </div>
    
    
</div>
@section scripts{
    <script>
        $(document).ready(function() {
            var table = $("#confirmTable").DataTable({
                "ajax": {
                    "url": "/Requests/GetConfirmCheckout",
                    "data": "GET",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "FileVolumes.FileNumber" },
                    { "data": "FileVolumes.Volume" },
                    { "data": "AcceptedBy" },
                    {
                        data: "AcceptedDate",
                        "render": function(data) {
                            return getDateString(data);
                        }
                    },
                    {
                        data: "Id",
                        "render": function(data, type, req) {
                            var button =
                                `<button approve-data-id=${data} class="btn js-approve">Checkout</button>`;
                            return button;
                        }
                    }
                ]
            });
            //End implementation of dataTable
            $("#confirmTable").on('click',
                '.js-approve',
                function() {
                    var $btn = $(this);
                    var requestId = $btn.attr("approve-data-id");
                    bootbox.confirm("You are approving volume. Do you wish to continue?",
                        function(result) {
                            if (result) {
                                $.ajax({
                                    url: '/Requests/AcceptCheckout/' + requestId,
                                    success: function() {
                                        toastr.success("File volume checked out",
                                            "Approval",
                                            { positionClass: "toast-bottom-right" });

                                        $($btn).closest("tr").remove();
                                    },
                                    statusCode: {
                                        404: function(content) { alert('cannot find resource'); },
                                        500: function(content) { alert('internal server error'); }
                                    }
                                });
                            }
                        });
                });
            $("#confirmTable").on("click",
                ".confirmModal",
                function() {
                    var id = $(this).attr("data-confirm-id");
                    var url = "/Files/FileDetailsForConfirm/" + id;
                    // alert(url);

                    $('#confirmModelContent').load(url);
                    $('#confirmCheckoutModal').modal('show');
                });

            function getDateString(date) {
                var dateObj = new Date(parseInt(date.substr(6)));
                return dateObj.toDateString();
            }
        });
    </script>
}