
@{
    ViewBag.Title = "ExternalTransferApproval";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header"><strong>Accept External File</strong></h2>
    </div>
    <!-- /.col-lg-12 -->
</div>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css">
<div class="row">
    <p style="color: #57a6de"><i>Files here have already been accepted and require only a second approval which will further enable a retrieval by the requesting user.</i></p>
    <table id="externalBranchTransferTable" class="table table-hover">
        <thead>
            <tr>
                <th>File Number</th>
                <th>Volume</th>
                <th>File's Branch</th>
                <th>User</th>
                <th>User's Branch</th>
                <th>Requested Date</th>
                <th>Registry Approval By</th>
                <th>Action</th>
            </tr>
        </thead>
    </table>
    <div class="modal fade" id="extApprovalModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="true">
        <div class="modal-dialog">
            <div class="modal-content" id="extApprovalModelContent">
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script>
        $(document).ready(function() {
            //gets json objects from the request controller in order to populate the dataTable
            var table = $("#externalBranchTransferTable").DataTable({
                "ajax": {
                    "url": siteURL + "/Requests/GetExternalTransferRecords",
                    "data": "GET",
                    "datatype": "json"
                },
                "columns": [
                    {
                        "data": "FileVolumes.FileNumber",
                        render: function(data, type, req) {
                            var button = `<a href="#" data-fileId=${req.FileVolumes.FileId} 
                                        class="glyphicon glyphicon-file extApprovalModal">${
                                data}</a>`;

                            return button;
                        }
                    },
                    {
                        "data": "FileVolumes.Volume",
                        render: function(data) {
                            return `<strong>Vol. ${data}</strong>`;
                        }
                    },
                    {
                        "data": "RecipientBranch.Branch",
                        render: function(data) {
                            return `<i class='fa fa-map-pin'></i> ${data}`;
                        }
                    },
                    {
                        "data": "User.Name",
                        render: function(data) {
                            return `<strong><i class='fa fa-user-circle-o'></i> ${data}</strong>`;
                        }
                    },
                    {
                        "data": "User.Branches.Branch",
                        render: function(data) {
                            return `<strong><i class='fa fa-location-arrow'></i> ${data}</strong>`;
                        }
                    },
                    //please recall here we removed the determine branch function, which was useless
                    {
                        data: "RequestDate",
                        "render": function(data) {
                            return `<strong><i class='fa fa-calendar-check-o'></i> ${getDateString(data)}</strong>`;
                        }
                    },
                    {
                        "data": "AcceptedBy.Name",
                        render: function(data) {
                            return `<i class='fa fa-address-book-o'></i> ${data}`;
                        }
                    },
                    {
                        data: "Id",
                        "render": function(data, type, req) {
                            var externalTransferOption =
                                `<div style="text-align: left;"><a href="#" class='btn js-ext-approve' trans-accept-ext-id=${
                                    data} reg-user-attr="${req.User.Name}"><i class="fa fa-check-circle"></i> Accept
                                                          </a></div>`;

                            return externalTransferOption;
                        }
                    }
                ]
            });
            //accept external transfer
            $("#externalBranchTransferTable").on('click',
                '.js-ext-approve',
                function() {
                    var button = $(this);
                    var regUser = $(this).attr('reg-user-attr');
                    var id = $(this).attr('trans-accept-ext-id');
                    bootbox.confirm({
                        title: "<strong style='color: green'><i class='fa fa-check'></i> CONFIRMATION</strong>",
                        message:
                            `By accepting, you are comfirming handling of the file which should then be routed to:<br> <strong>${
                                regUser} </strong>`,
                        callback: function(result) {
                            if (result) {
                                $.ajax({
                                    url: siteURL + '/Requests/AcceptForeignRegistryTransfer/' + id,
                                    success: function(response) {
                                        if (response.success) {
                                            toastr.success(response.message,
                                                "Approved",
                                                { positionClass: "toast-bottom-right" });

                                            //removing client side table record
                                            table.row(button.parents('tr')).remove().draw();
                                        } else {
                                            toastr.error(response.message,
                                                "Oops",
                                                { positionClass: "toast-bottom-right" });
                                            table.row(button.parents('tr')).remove().draw();
                                        }

                                        //removes row from client side perspective. Not on server side thus 
                                        //console.log(table.data().count());
                                       // 
                                        /*if (table.data().count() == 0) {
                                            $("#notifIcon").css('color', 'white');
                                        }*/

                                    },
                                    statusCode: {
                                        404: function(content) { alert('cannot find resource'); },
                                        500: function(content) { alert('internal server error'); }
                                    }
                                });

                            }
                        }
                    });
                });

            //never received external transfer
            //function removed as, it wasn't necessary. Decided in meeting with manager

            function getDateString(date) {
                var dateObj = new Date(parseInt(date.substr(6)));
                return dateObj.toDateString();
            }

            $("#externalBranchTransferTable").on("click",
                ".extApprovalModal",
                function() {
                    var id = $(this).attr("data-fileId");
                    var url = siteURL + "/Files/FileDetailsForConfirm/" + id;
                    // alert(url);

                    $('#extApprovalModelContent').load(url);
                    $('#extApprovalModal').modal('show');
                });
        });
    </script>

}