
@{
    ViewBag.Title = "ExternalTransferApproval";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header"><strong>Accept External File</strong></h2>
    </div>
    <!-- /.col-lg-12 -->
</div>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css">
<div class="row">
    <p style="color: #57a6de"><i>Files here have already been accepted and require only a second approval which will further enable a retrieval by the requesting user.</i></p>
    <table id="externalBranchTransferTable" class="table table-hover">
        <thead>
            <tr>
                <th>File Number</th>
                <th>Volume</th>
                <th>Requesting User</th>
                <th>User Branch</th>
                <th>Registry Approval By</th>
                <th>File Origins</th>
                <th>Requested Date</th>
                <th width="110">Action</th>
            </tr>
        </thead>
    </table>
    <div class="modal fade" id="extApprovalModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="true">
        <div class="modal-dialog">
            <div class="modal-content" id="extApprovalModelContent">
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script>
    $(document).ready(function() {
        //gets json objects from the request controller in order to populate the dataTable
        var table = $("#externalBranchTransferTable").DataTable({
            "ajax": {
                "url": siteURL + "/Requests/GetExternalTransferRecords",
                "data": "GET",
                "datatype": "json"
            },
            "columns": [
                {
                    "data": "FileVolumes.FileNumber",
                    render: function(data, type, req) {
                        var button = `<a href="#" data-fileId=${req.FileVolumes.FileId} 
                                        class="glyphicon glyphicon-file btn btn-warning btn-block btn-xs extApprovalModal">${
                            data}</a>`;

                        return button;
                    }
                },
                {
                    "data": "FileVolumes.Volume",
                    render: function(data) {
                        return `<strong>Vol. ${data}</strong>`;
                    }
                },
                {
                    "data": "User.Name",
                    render: function(data) {
                        return `<strong><i class='fa fa-user-circle-o'></i> ${data}</strong>`;
                    }
                },
                {
                    "data": "User.Branches.Branch",
                    render: function(data) {
                        return `<strong><i class='fa fa-location-arrow'></i> ${data}</strong>`;
                    }
                },
                {
                    "data": "AcceptedBy.Name",
                    render: function(data) {
                        return `<strong><i class='fa fa-address-book-o'></i> ${data}</strong>`;
                    }
                },
                {
                    "data": "RecipientBranch.Branch",
                    render: function(data) {
                        return `<strong><i class='fa fa-map-pin'></i> ${data}</strong>`;
                    }
                }, //please recall here we removed the determine branch function, which was useless
                {
                    data: "RequestDate",
                    "render": function(data) {
                        return `<strong><i class='fa fa-calendar-check-o'></i> ${getDateString(data)}</strong>`;
                    }
                },
                {
                    data: "Id",
                    "render": function(data, type, req) {
                        var externalTransferOption =
                            `<a href="#" class='btn js-ext-approve' trans-accept-ext-id=${data} reg-user-attr="${req.User.Name}">Accept
                                                          <i class="fa fa-check-circle"></i></a>`;

                        return externalTransferOption;
                    }
                }
            ]
        });
        //accept external transfer
        $("#externalBranchTransferTable").on('click',
            '.js-ext-approve',
            function() {
                var button = $(this);
                var regUser = $(this).attr('reg-user-attr');
                var id = $(this).attr('trans-accept-ext-id');
                bootbox.confirm({
                    title: "<strong style='color: green'>CONFIRMATION</strong>",
                    message:
                        `By accepting you are comfirming handling of the file which should then be retrieved by:<br> <strong>${
                            regUser} </strong>`,
                    callback: function(result) {
                        if (result) {
                            $.ajax({
                                url: siteURL + '/Requests/AcceptForeignRegistryTransfer/' + id,
                                success: function() {
                                    toastr.success("Accepted",
                                        "Transfer Approval",
                                        { positionClass: "toast-bottom-right" });
                                    //removes row from client side perspective. Not on server side thus 
                                    //console.log(table.data().count());
                                    table.row(button.parents('tr')).remove().draw();
                                    if (table.data().count() == 0) {
                                        $("#notifIcon").css('color', 'white');
                                    }

                                },
                                statusCode: {
                                    404: function(content) { alert('cannot find resource'); },
                                    500: function(content) { alert('internal server error'); }
                                }
                            });

                        }
                    }
                });
            });

        //never received external transfer
        //function removed as, it wasn't necessary. Decided in meeting with manager

        function getDateString(date) {
            var dateObj = new Date(parseInt(date.substr(6)));
            return dateObj.toDateString();
        }

        $("#externalBranchTransferTable").on("click",
            ".extApprovalModal",
            function() {
                var id = $(this).attr("data-fileId");
                var url = siteURL + "/Files/FileDetailsForConfirm/" + id;
                // alert(url);

                $('#extApprovalModelContent').load(url);
                $('#extApprovalModal').modal('show');
            });
        });
    </script>
}