
@{
    ViewBag.Title = "ExternalRequestMade";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header" style="color: #32a732"><strong>External Request Made</strong></h2>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">
    <p>
        A request has been made outside your respective branch. To obtain this volume your request must be accepted by the external branch and
        furthermore by your local branch. Kindly await responses from registry.
    </p>
    <a href="@Url.Action("SearchFiles","Files")" class="btn btn-success">Return</a>
</div>
