
@{
    ViewBag.Title = "ExternalBranchRequest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header"><strong>Pending External Request</strong></h2>
    </div>
    <!-- /.col-lg-12 -->
</div>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css">
<div class="row">
    <table id="externalBranchPendingTable" class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>File Number</th>
                <th>Volume</th>
                <th>Requester</th>
                <th>Requester Branch</th>
                <th>Requested Date</th>
                <th>Action</th>
            </tr>
        </thead>

    </table>
</div>
@section scripts
{
    <script>
        $(document).ready(function() {
            //gets json objects from the request controller in order to populate the dataTable
            var table = $("#externalBranchPendingTable").DataTable({
                "ajax": {
                    "url": "/Requests/GetExternalBranchPendingFiles",
                    "data": "GET",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "Id" },
                    { "data": "FileVolumes.FileNumber" },
                    { "data": "FileVolumes.Volume" },
                    { "data": "User.Name" },
                    { "data": "User.Branches.Branch" },
                    {
                        data: "RequestDate",
                        "render": function(data) {
                            return getDateString(data);
                        }
                    },
                    {
                        data: "Id",
                        "render": function(data, type, req) {
                            var buttonAccept =
                                `<button id-ext-attr="${data}" user-branch-acc="${req.Branches.Branch}" uname-attr="${req.User.Name
                                    }" class="btn btn-success js-ext-accept">Checkout</button>`;
                            var buttonReject =
                                `<button id-ext-rej-attr="${data}" user-branch-rej="${req.Branches.Branch}" uname-rej-attr="${req.User.Name
                                    }" class="btn btn-danger js-ext-reject">Reject</button>`;
                            return buttonAccept + " | " + buttonReject;
                        }
                    }
                ]
            });

            $("#externalBranchPendingTable").on('click',
                '.js-ext-accept',
                function() {
                    var button = $(this);
                    var username = $(this).attr('uname-attr');
                    var userBranch = $(this).attr('user-branch-acc');
                    var id = $(this).attr('id-ext-attr');
                    bootbox.confirm("You are about to accept an external request from branch <strong>"+userBranch+" </strong>belonging to user: <strong>" +username+
                        "</strong>",
                        function(result) {
                            if (result) {
                                $.ajax({
                                    url: '/Requests/AcceptExternalUserRequest/' + id,
                                    success: function() {
                                        toastr.success("Accepted",
                                            "External Request",
                                            { positionClass: "toast-bottom-right" });

                                        //removes row from client side perspective. Not on server side thus 

                                        //console.log(table.data().count());
                                        table.row(button.parents('tr')).remove().draw();
                                        if (table.data().count() == 0) {
                                            $("#notifIcon").css('color', 'white');
                                        }

                                    },
                                    statusCode: {
                                        404: function(content) {
                                            alert('cannot find resource');
                                        },
                                        500: function(content) {
                                            window.location.href = "/Requests/VolumeStateNotValid/";
                                            //alert('internal server error');
                                        }
                                    }
                                });
                            }
                        });
                });

            $("#externalBranchPendingTable").on('click',
                '.js-ext-reject',
                function() {
                    var button = $(this);
                    var userBranch = $(this).attr('user-branch-rej');
                    var username = $(this).attr('uname-rej-attr');
                    var id = $(this).attr('id-ext-attr');
                    bootbox.confirm("You are about to reject an external request from branch: <strong>"+userBranch+"</strong></br> " +
                        "Requester: " +"<strong>" + username + "</strong>",
                        function(result) {
                            if (result) {
                                $.ajax({
                                    url: '/Requests/DeclineRequest/' + id,
                                    success: function() {
                                        toastr.success("This request has been declined",
                                            "Request Declined",
                                            { positionClass: "toast-bottom-right" });

                                        //removes row from client side perspective. Not on server side thus 

                                        //console.log(table.data().count());
                                        table.row(button.parents('tr')).remove().draw();
                                        if (table.data().count() == 0) {
                                            $("#notifIcon").css('color', 'white');
                                        }

                                    },
                                    statusCode: {
                                        404: function(content) {
                                            alert('cannot find resource');
                                        },
                                        500: function(content) {
                                            alert('internal server error');
                                        }
                                    }
                                });
                            }
                        });
                });

            function getDateString(date) {
                var dateObj = new Date(parseInt(date.substr(6)));
                return dateObj.toDateString();
            }

        });
    </script>
}