@using FileTracking.Models

@{
    ViewBag.Title = "PendingFiles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header"><strong>Pending Files</strong></h2>
    </div>
    <!-- /.col-lg-12 -->
</div>
<p id="showCount"></p>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css">
<div class="row">
    <div class="col-lg-12">
        <table id="pendingTable" class="table  table-bordered table-hover">
            <thead>
            <tr>
                <th>File Number</th>
                <th>Volume</th>
                <th>Requester</th>
                <th>Requester Branch</th>
                <th>Requested Date</th>
                <th>Action</th>
            </tr>
            </thead>

        </table>
    </div>
</div>
@section scripts
{
    <script>
        $(document).ready(function() {
            //gets json objects from the request controller in order to populate the dataTable
            var table = $("#pendingTable").DataTable({
                "ajax": {
                    "url": siteURL+"/Requests/GetPendingFiles",
                    "data": "GET",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "FileVolumes.FileNumber" },
                    { "data": "FileVolumes.Volume" },
                    { "data": "User.Name" },
                    { "data": "User.Branches.Branch" },
                    {
                        data: "RequestDate",
                        "render": function(data) {
                            return getDateString(data);
                        }
                    },
                    {
                        data: "Id",
                        "render": function(data, type, req) {
                            var buttonAccept =
                                "<button class='btn btn-success btn-xs js-accept' data-accept-pending-id='" +
                                    data +
                                    "' user-attr='"+req.User.Name+"'>Check out</button>";
                            var buttonDeny = "<button class='btn btn-danger btn-xs js-reject'  data-deny-pending-id='" +
                                data +
                                "'>Reject</button>";

                            return buttonAccept + " " + buttonDeny;
                        }
                    }
                ]
            });
            //--------------accepting file volume implementation----------------------------------
            $("#pendingTable").on("click",
                '.js-accept',
                function() {
                    var button = $(this);
                    var id = button.attr("data-accept-pending-id");
                    var requester = button.attr("user-attr");
                    bootbox.confirm("You are about to accept request for: <strong>"+requester+"</strong>",
                        function(result) {
                            if (result) {
                                $.ajax({
                                    url: siteURL+'/Requests/AcceptRequest/' + id,
                                    success: function(response) {
                                        if (response.success == true) {
                                            toastr.success("Accepted", "Request", { positionClass: "toast-bottom-right" });

                                            //removes row from client side perspective. Not on server side thus 
                                            //if a refresh is made it will be reloaded since we have not done any server side processing
                                            //console.log(table.data().count());
                                            table.row(button.parents('tr')).remove().draw();
                                            if (table.data().count() == 0) {
                                                $("#notifIcon").css('color', 'white');
                                            }
                                        }
                                        else if (response.success == false) {
                                            toastr.error(response.message, "Rejected", { positionClass: "toast-bottom-right" });
                                            table.row(button.parents('tr')).remove().draw();
                                            //window.location.href = "/Requests/PendingFiles";
                                        }


                                    },
                                    statusCode: {
                                        404: function(content) {
                                            alert("404, page not found");
                                        },
                                        500: function(content) {                                           
                                            alert('internal server error');
                                        }
                                    }
                                });
                            }

                        });
                });

            $("#pendingTable").on("click",
                '.js-reject',
                function() {
                    var button = $(this);
                    var id = button.attr("data-deny-pending-id");
                    bootbox.confirm("You are about to decline request from user: ",
                        function(result) {
                            if (result) {
                                $.ajax({
                                    url: siteURL+'/Requests/DeclineRequest/' + id,
                                    success: function(data) {
                                        toastr.success("Successfully Declined",
                                            "Request",
                                            { positionClass: "toast-bottom-right" });
                                        table.row(button.parents('tr')).remove().draw();
                                        if (table.data().count() == 0) {
                                            $("#notifIcon").css('color', 'white');
                                        }
                                    },
                                    statusCode: {
                                        404: function(content) { alert('cannot find resource'); },
                                        500: function(content) { alert('internal server error'); }
                                    }
                                });
                            }
                        });

                });

            function getDateString(date) {
                var dateObj = new Date(parseInt(date.substr(6)));
                return dateObj.toDateString();
            }

        });
    </script>
}
