
<div class="alert alert-warning">
    <img src="/WelcomePage/img/map.png" width="50" height="30" />
    <span id="branchNav" style="font-size: 16px"><strong>@ViewBag.Message Branch</strong></span>
</div>

