@model System.Web.Mvc.HandleErrorInfo
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Invalid Domain</title>

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Chango" rel="stylesheet">

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="~/Content/style.css" />

</head>

<body class="body">

    <div id="notfound">
        <div class="notfound">
            <div>
                <div class="notfound-404">
                    <h1 class="header1">!</h1>
                </div>
                <h4 class="header4">Sorry!<br> Can't go beyond this point</h4>
            </div>
            <p>Unfortunately, we could not find you within a valid group in active directory. Kindly visit the IT department to register under a valid domain.<a href="http://dfcintranet/">Back to home</a></p>
        </div>
    </div>

</body>

</html>