
@{
    ViewBag.Title = "AlreadyRequested";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Already Requested</h2>
<div class="row">
    <p>Cannot request same file volume one than once. Please await an approval from registry</p>
</div>

