
@{
    ViewBag.Title = "ReturnApproval";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css">
<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header"><strong>Accept Return</strong></h2>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">
    <table id="returnedTable" class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>File Number</th>
            <th>Volume No.</th>
            <th>Requester</th>
            <th>Requester's Branch</th>
            <th>Requested Date</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>

        </tbody>

    </table>
    <div class="modal fade" id="acceptReturnModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="true">
        <div class="modal-dialog">
            <div class="modal-content" id="acceptReturnModelContent">
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script>
        $(document).ready(function() {
            //gets json objects from the request controller in order to populate the dataTable
            var table = $("#returnedTable").DataTable({
                "ajax": {
                    "url": siteURL + "/FileVolumes/GetReturnedRequests",
                    "data": "GET",
                    "datatype": "json"
                },
                "columns": [
                    {
                        "data": "FileVolumes.FileNumber",
                        render: function(data, type, req) {
                            return `<a href="#" data-acct-ret-id="${req.FileVolumes.FileId
                                }" class="btn btn-default btn-sm acceptRetModal">
                                <i class="fa fa-address-book"></i> <strong>${data}</strong></a>`;
                        }
                    },
                    {
                        "data": "FileVolumes.Volume",
                        render: function (data) {
                            return `<strong>${data}</strong>`;
                        }
                    },
                    {
                        "data": "User.Name",
                        render: function (data) {
                            return `<strong><i class="fa fa-user-circle"></i> ${data}</strong>`;
                        }
                    },
                    {
                        "data": "User.Branches.Branch",
                        render: function (data) {
                            return `<strong><i class="fa fa-map-marker"></i> ${data}</strong>`;
                        }
                    },
                    {
                        data: "RequestDate",
                        "render": function(data) {
                            return getDateString(data);
                        }
                    },
                    {
                        data: "Id",
                        "render": function(data, type, req) {
                            var buttonAccept =
                                `<a class='btn js-return' data-user='${req.User.Name}' data-return-id='${
                                data}'><i class="fa fa-check-circle"></i> Check In</a>`;

                            return buttonAccept;
                        }
                    }
                ]
            });
            //--------------accepting file volume implementation----------------------------------

            $("#returnedTable").on("click",
                '.js-return',
                function() {
                    var button = $(this);
                    var id = button.attr("data-return-id");
                    var user = button.attr("data-user");
                    bootbox.confirm({
                        title: "<strong style='color: green'>CHECK IN</strong>",
                        message: `You are about to confirm a file return from <strong><i class='fa fa-user-circle-o'></i> ${user}</strong>`,
                        callback: function (result) {
                            if (result) {
                                $.ajax({
                                    url: siteURL + '/FileVolumes/AcceptReturn/' + id,
                                    success: function () {

                                        toastr.success("Accepted return for client",
                                            "Return",
                                            { positionClass: "toast-bottom-right" });

                                        //removes row from client side perspective. Not on server side thus 
                                        //if a refresh is made it will be reloaded since we have not done any server side processing
                                        table.row(button.parents('tr')).remove().draw();
                                    },
                                    statusCode: {
                                        404: function (content) { alert('cannot find resource'); },
                                        500: function (content) { alert('internal server error'); }
                                    }
                                });
                            }
                        }
                    });
                });

            function getDateString(date) {
                var dateObj = new Date(parseInt(date.substr(6)));
                return dateObj.toDateString();
            }

            $("#returnedTable").on("click",
                ".acceptRetModal",
                function() {
                    var id = $(this).attr("data-acct-ret-id");
                    var url = siteURL + "/Files/FileDetailsForConfirm/" + id;
                    // alert(url);

                    $('#acceptReturnModelContent').load(url);
                    $('#acceptReturnModal').modal('show');
                });
        });
    </script>
}