@{
    ViewBag.Title = "UserVolumes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12 ">
        <h2 class="page-header"><strong>My Files</strong></h2>
    </div>
    <!-- /.col-lg-12 -->
</div>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css">
<div class="row">   
    <div>
        <p>
            <i>
                File registered here are, as of this moment, in your possession and must be returned to registry when use is 
                no longer required.
            </i>
        </p>
    </div> 
    <table id="myFiles" class="table table-hover">
        <thead>
            <tr>
                <th>File Number</th>
                <th>Volume</th>
                <th>Checked Out By</th>
                <th>Checked Out Date</th>
                <th>Branch</th>
                <th>Return</th>
            </tr>
        </thead>
        
    </table>
    <div class="modal fade" id="userReturnModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="true">
        <div class="modal-dialog">
            <div class="modal-content" id="returnModelContent">
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        $(document).ready(function() {
            var myFilesTable = $("#myFiles").DataTable({
                "ajax": {
                    "url": siteURL + "/FileVolumes/GetUserFileVolumes",
                    "data": "GET",
                    "datatype": "json"
                },
                "columns": [
                    {
                        "data": "FileVolumes.FileNumber",
                        render: function(data, type, req) {
                            return `<a href="#" data-return-id="${req.FileVolumes.FileId}" 
                            class="btn btn-primary btn-sm returnModal"><i class="fa fa fa-address-card"> ${data
                                }</i></a>`;
                        }
                    },
                    {
                        "data": "FileVolumes.Volume",
                        render: function(data) { return `<strong>${data}</strong>`; }
                    },
                    {
                        "data": "AcceptedBy.Name",
                        render: function (data) { return `<strong><i class="fa fa-user-circle-o"></i> ${data}</strong>`; }
                    },
                    {
                        "data": "AcceptedDate",
                        render: function(data) {
                            return `<strong>${getDateString(data)}</strong>`;
                        }
                    },
                    {
                        data: "RequesterBranch.Branch",
                        render: function (data) { return `<strong><i class="fa fa-location-arrow"></i> ${data}</strong>`; }
                    },
                    {
                        data: "Id",
                        "render": function(data) {
                            var buttonReturn =
                                `<a class="btn js-return" data-return-id="${data
                                    }"><i class="fa fa-share-square-o"></i> Return</a>`;
                            return buttonReturn;
                        }
                    }
                ]
            });
            //----------------------------post ajax -------------------------
            $("#myFiles").on('click',
                '.js-return',
                function() {
                    var $btn = $(this);
                    var requestId = $btn.attr("data-return-id");
                    bootbox.confirm(`You are returning file to registry. Continue?`,
                        function(result) {
                            if (result) {
                                $.ajax({
                                    url: siteURL + '/FileVolumes/ReturnVolume/' + requestId,
                                    success: function(response) {
                                        if (!response.success) {
                                            bootbox.confirm({
                                                message:
                                                    "you have user transfer requests for this file. Are you sure you want to return file to registry? ",
                                                buttons: {
                                                    confirm: {
                                                        label: 'Yes, return to registry',
                                                        className: 'btn-success'
                                                    },
                                                    cancel: {
                                                        label: 'No, Take me to transfers',
                                                        className: 'btn-warning'
                                                    }
                                                },
                                                callback: function(res) {
                                                    if (res) {
                                                        $.ajax({
                                                            url: siteURL +
                                                                '/FileVolumes/VerifiedReturnOfVolume/' +
                                                                requestId,
                                                            success: function(response) {
                                                                toastr.success("Return Request Sent to registry",
                                                                    "Return",
                                                                    { positionClass: "toast-bottom-right" });

                                                                $($btn).closest("tr").remove();
                                                            },
                                                            error: function(jqXhr, textStatus, errorThrown) {
                                                                alert(errorThrown);
                                                            }
                                                        });
                                                    } else {
                                                        window.location.href =
                                                            siteURL + "/Requests/UserPendingTransfer";
                                                    }

                                                }
                                            });
                                        } else {
                                            toastr.success("Return Request Sent to registry",
                                                "Return",
                                                { positionClass: "toast-bottom-right" });

                                            myFilesTable.row($btn.parents('tr')).remove().draw();
                                        }

                                    },
                                    statusCode: {
                                        404: function(content) { alert('cannot find resource'); },
                                        500: function(content) { alert('internal server error'); }
                                    }
                                });
                            }
                        });
                });

            $("#myFiles").on("click",
                ".returnModal",
                function() {

                    var id = $(this).attr("data-return-id");
                    var url = siteURL + "/Files/FileDetailsForConfirm/" + id;
                    // alert(url);

                    $('#returnModelContent').load(url);
                    $('#userReturnModal').modal('show');
                });

            function getDateString(date) {
                var dateObj = new Date(parseInt(date.substr(6)));
                return dateObj.toDateString();
            }
        });
    </script>
}