
@{
    ViewBag.Title = "RequestMade";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header"><strong>File Volume</strong></h2>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">
    Your request has been made successful. Kindly wait for an approval.
</div>