
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css">
<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">Files</h2>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">
    <!--Content goes here b -->  

    <table id="fileTable" class="table table-striped table-bordered table-hover" style="width:100%">
            <thead>
                <tr>
                    <th> File Number</th>
                    <th>Name</th>
                    <th>Address</th>
                    <th>District</th>
                    <th>Volumes</th>
                    <th>Date Added</th>
                    <th>Actions</th>

                </tr>
            </thead>
            <tbody></tbody>
    </table>  
    <div class="modal fade" id="myModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="true">
        <div class="modal-dialog">
            <div class="modal-content" id="modelContent">
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function() {

            $("#fileTable").DataTable({
                "ajax": {
                    "url": "/Files/GetFiles",
                    "data": "POST",
                    "datatype": "json"
                },
                "columns": [
                    {
                        "data": "FileNumber",
                        "name": "FileNumber",
                        render: function(data, type, file) {

                            return "<span data-url='"+file.Id+" 'class='glyphicon glyphicon-file btn btn-sm btn-primary spanModal'>" + file.FileNumber+"</span>";

                        }
                    },
                    {
                        "data": "FirstName",
                        "name": "FirstName",
                        render: function(data, type, file) {
                            var mName = file.MiddleName;
                            if (file.MiddleName == null)
                                mName = "";

                            return file.FirstName + " " + mName + " " + file.LastName;
                        }
                    },
                    { "data": "CityOrTown", "name": "CityOrTown" },
                    { "data": "Districts.District", "name": "Districts.District" },
                    { "data": "Volume", "name": "Volume" },
                    {
                        "data": "DateCreated",
                        "name": "DateCreated",
                        "render": function(value) {
                            return getDateString(value);
                        }
                    },
                    {
                        data: "Id",

                        "render": function(data) {
                            var buttonAddVol = "<button class='btn btn-instagram btn-xs js-addVol' data-file-id='" +
                                data +
                                "'>Add Volume</button>";
                            var buttonEditFile =
                                "<button class='btn btn-flickr btn-xs js-editFile' data-edit-file-id='" +
                                    data +
                                "'>Edit</button>";
                            var buttonViewVolumes =
                                "<button class='btn btn-success btn-xs js-viewVolumes' data-view-vol-id='" +
                                    data +
                                    "'>Volumes</button>";

                            return buttonEditFile + " | " + buttonViewVolumes+" | "+buttonAddVol ;
                        }
                    }
                ],
                "serverSide": "true",
                "order": [0, "asc"],
                "processing": "true",
                "language": {
                    "processing": "Processing Files... Kindly hold"
                }
            });

            //-------------------------End dataTables implementation ---------------------------------------
            // refer to Scripts/ScriptsIvor if you wish to view the code that follows the above. Consists of button implementation
            // i moved it because i honestly hate seeing too much code on one page   
            function getDateString(date) {
                var dateObj = new Date(parseInt(date.substr(6)));
                return dateObj.toDateString();
            }
            //opens modal that displays file information for a specif file
            $("#fileTable").on("click",
                ".spanModal",
                function() {
                    var id = $(this).attr("data-url");
                    var url = "/Files/FileDetails/" + id;
                    // alert(url);

                    $('#modelContent').load(url);
                    $('#myModal').modal('show');
                });
        });
    </script>
}